<?xml version="1.0" encoding="utf-8"?>
<manifest package="gulajava.bintangkuapa"
          xmlns:android="http://schemas.android.com/apk/res/android"
          android:installLocation="auto"
          android:versionCode="1"
          android:versionName="1.0.0">

    <supports-screens
        android:anyDensity="true"
        android:resizeable="true"/>

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="24"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppThemeCompat">


        <activity
            android:name=".aktivitas.Loadings"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".aktivitas.HalamanUtama"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name=".aktivitas.HalamanBookmarks"
            android:label="@string/judul_bookmark_halaman"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>


    </application>

</manifest>